<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <connectionStrings>
      <add name="DB_TEST1" connectionString="Data Source=KENICHIRO-HP\TEST;Initial Catalog=master;Integrated Security=True"/>
      <add name="DB_TEST2" connectionString="Data Source=KENICHIRO-HP\TEST;Initial Catalog=master;Integrated Security=True"/>
      <add name="DB_TEST3" connectionString="Data Source=KENICHIRO-HP\TEST;Initial Catalog=master;Integrated Security=True"/>
      <add name="DB_TEST4" connectionString="Data Source=KENICHIRO-HP\TEST;Initial Catalog=master;Integrated Security=True"/>
      <add name="DB_AMIDA" connectionString="Data Source=KENICHIRO-HP\AMIDA;User ID=sa;Password=isec77571"/>
      <add name="masterConnectionString" connectionString="Data Source=MYCOMPUTER\SQLEXPRESS;Initial Catalog=master;Persist Security Info=True;User ID=sa;Password=isec77571"
      providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>